<h1><em><%= @header_word %></em></h1>

<h3><%= @pronunciation %></h3>

<p><strong>Parts Of Speech: </strong><%= JSON.parse(@response)[0]["fl"] %></p>

<h4>Definition:</h4>
<% @def.each do |var| %>
    <% var.each do |sense| %>
        <p>
            <%= sense[1]["sn"] %>: 
            <%= sense[1]["dt"][0][1] %><br><br>
        </p>
    <% end %>
<% end %>



