<h1 style="color:lightblue;"><em><%= @header_word %></em></h6>

<% if JSON.parse(@response)[0].include?("def") %>

    <h3><%= @pronunciation %></h3>

    <p><strong>Parts Of Speech: </strong><%= JSON.parse(@response)[0]["fl"] %></p>

    <h4 style="color:lightblue;">Definition:</h4>
    <% @def.each do |var| %>
        <% var.each do |sense| %>
            <p>
                <%= sense[1]["sn"] %>: 
                <%= sense[1]["dt"][0][1] %><br><br>
            </p>
        <% end %>
    <% end %>

<% elsif JSON.parse(@response)[0].include?("cxs") %>
    <h4>Definition:</h4>
    <% @cxs_def.each do |cxl| %>
        <p>
            <%= cxl %>
        </p>
    <% end %>
<% end %>

<%= link_to 'Back to Quotes', quotes_path %>



