<!DOCTYPE html>
<html>
  <head>
    <title>ProjectQuote</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <header>
      <div id="header-contents">
        <h1 class="site-title">Quotator</h1>
        <%= link_to 'Browse Quotes', quotes_path %>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
