<!DOCTYPE html>
<html>
  <head>
    <title>ProjectQuote</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="transbox">
      <header>
        <div class="header-contents">
          <h1 class="site-title">Quotator</h1>
          <%= render './users/user_nav' %>
        </div>
      </header>
    </div>
    
    <%= yield %>
  </body>
</html>
